/* navbar */
.navbar {
  position: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: black;
  z-index: 1000000;
}
  
  .navbar-brand {
    font-family: 'Poppins'
    font-size: 32px;
  }
  
  .nav-link {
  text-align: center;
  }


  /* Desktop Ver */
@media (min-width: 992px) {
    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    }
  
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
  
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #009999;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
  
    .navbar {
      background-color: black !important;
    }
  
  }